<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wei.user.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="mobile_phone" property="mobilePhone" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="picture_url" property="pictureUrl" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
